---
import { timeAgo } from "@guardian/libs";
import Header from "../../components/Header.astro";

export { getStaticPaths } from "../../lib/counts";

const { count } = Astro.params;

const now = Date.now();
---

<Header />

<h1>{count} elements with DOM</h1>
<ul>
  {
    Array.from({ length: Number(count) }, (_, i) => now - 1000 * (i + 1)).map(
      (then) => (
        <li>
          <time
            data-relativeformat="med"
            datetime={new Date(then).toISOString()}
          >
            {timeAgo(then)}
          </time>
        </li>
      )
    )
  }
</ul>

<script>
  import { relativeTime } from "../../lib/relativeTime";

  relativeTime();
</script>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 100px;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
  }

  li {
    background-color: #eee;
    overflow: hidden;
  }
</style>
