---
import Layout from "../layouts/Layout.astro";

const times = [10, 100, 1000, 10_000, 100_000];
---

<Layout title="Welcome to Astro.">
  <main>
    <li>
      Preact <ul>
        {
          times.map((time) => (
            <li>
              <a href={`/preact/${time}`}>{time} elements</a>
            </li>
          ))
        }
      </ul>
    </li>
    <li>
      DOM <ul>
        {
          times.map((time) => (
            <li>
              <a href={`/dom/${time}`}>{time} elements</a>
            </li>
          ))
        }
      </ul>
    </li>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  a {
    color: inherit;
  }
</style>
