---
import { counts } from "../lib/counts";
---

<header>
  <ul>
    {
      counts.map((count) => (
        <li class:list={{ current: count === Number(Astro.params.count) }}>
          {count}
          <a href={`/preact/${count}`}>Preact</a>/
          <a href={`/dom/${count}`}>DOM</a>
        </li>
      ))
    }
  </ul>
</header>

<style>
  ul {
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0.25rem;
    gap: 1rem 2rem;
    justify-content: center;
  }

  li {
    display: flex;
    gap: 0.25rem;
  }

  li.current {
    background-color: #eee;
  }

  a {
    color: inherit;
  }
</style>
